@charset "utf-8";
/* CSS Document */

body					{margin:5px; font:normal normal normal 12px Arial, Helvetica, sans-serif;}
img						{border:none;}
.Mcontener				{width:100%; margin:0 auto; padding:0; background:url(../img/ribbon.gif) repeat-x top; height:10px !important;}
.contener				{width:1000px; margin:0 auto; }
.topnav					{width:140px; float:right; text-align:right; margin:30px -10px 0 0;}
.topnav	ul				{float:left; list-style:none; font-size:11px;}
.topnav	ul li			{float:left; list-style:none; text-align:center;}
.topnav	ul li.devider	{float:left; list-style:none; font:normal normal normal 10px Arial, Helvetica, sans-serif; color:#666;}
.topnav	ul li a			{float:left; list-style:none; padding:3px 12px; text-decoration:none; color:#105e85;}
.topnav	ul li a:hover	{background:#FFF;}
.topnav	ul li.welcome	{float:left; list-style:none; text-align:right; background:#FFF url(../img/arrow-down.png) no-repeat right; padding:3px 30px 3px 5px; cursor:pointer;}
.topnav	ul li.last		{float:right; list-style:none; text-align:right; background:#FFF; margin:2px 15px 0 0;}
.topnav	ul li.loc		{float:left; list-style:none; text-align:right; background:#FFF; margin:3px 15px 0 0;} /* Added by AR 1/31/2013*/

.newuserN{width:160px;  float:right; }

.newuserbox				{width:160px; height:60px;  position:relative; top:-10px; left:-16%; right:0px; z-index:91; text-align:left; padding:6px; border:solid 0px #000000;} 

.search-area			{width:100%; height:200px; float:left; margin:20px 0;}
.search-area-Left		{width:475px; height:150px; float:left; /*background:url(../img/arrow-header.png) no-repeat right center;*/ line-height:22px;}
.search-area-Right		{width:520px; float:left;}


.but-search				{width:40px; float:right; background:url(../img/search-icon.gif) no-repeat; height:30px; border:0; cursor:pointer; margin-right:10px;}
.but-green				{width:auto; text-align:center; float:left; background:url(../img/green-bg.gif) repeat-x; padding:5px 25px; font:normal normal normal 11px Arial, Helvetica, sans-serif; color:#FFF; cursor:pointer; margin-top:20px;}
.but-gray				{width:auto;height:auto; text-align:center; float:left; background:url(../img/gray-bg.gif) repeat-x; padding:7px 25px; font:normal normal normal 11px Arial, Helvetica, sans-serif; color:#FFF; cursor:pointer; margin-top:20px;}
.send_pass{ width:110px; height:27px; background-image:url(../images/send_password.jpg); background-repeat:no-repeat; border:none; cursor:pointer;}

.but-blue				{width:auto; height:auto;text-align:center; float:left; background:url(../img/blue-bg.gif) repeat-x; padding:7px 25px; font:normal normal normal 11px Arial, Helvetica, sans-serif; color:#FFF; cursor:pointer; margin-top:20px;}
.but-blue1				{width:auto; height:auto;text-align:center; background:url(../img/blue-bg.gif) repeat-x; padding:7px 25px; font:normal normal normal 11px Arial, Helvetica, sans-serif; color:#FFF; cursor:pointer; margin-top:20px;}
.but-blue2				{width:auto; height:auto;text-align:center; background:url(../img/blue-bg.gif) repeat-x; padding:7px 25px; font:normal normal normal 11px Arial, Helvetica, sans-serif; color:#FFF; cursor:pointer;}
.but-red				{width:auto; display:block; text-align:center; float:left; background:url(../img/red-bg.gif) repeat-x; padding:5px 25px; font:normal normal normal 11px Arial, Helvetica, sans-serif; color:#FFF; cursor:pointer; margin-top:20px;}

.doc-info-area						{width:100%; float:left; font-size:11px; margin:20px 0 40px 0;}
.doc-info-area-cell					{width:170px; height:310px; float:left; padding:10px; background:url(../img/doc-info-bg.png) no-repeat left top; margin:0 12px 10px 0;}
.doc-info-area-cell-last			{width:170px; height:310px; float:left; padding:10px; background:url(../img/doc-info-bg.png) no-repeat left top; margin:0 0 10px 0;}
.doc-info-area-cell:hover			{width:170px; height:310px; float:left; padding:10px; background:url(../img/doc-info-bg-hover.png) no-repeat left top;}
.doc-info-area-cell-last:hover			{width:170px; height:310px; float:left; padding:10px; background:url(../img/doc-info-bg-hover.png) no-repeat left top;}
.doc-info-area-cell .pic-area		{width:70px; float:left;}
.doc-info-area-cell .pic			{width:70px; float:left; border:#CCC solid 1px;}
.doc-info-area-cell-last .pic			{width:70px; float:left; border:#CCC solid 1px;}
.doc-info-area-cell .doctable		{width:auto; float:left;}
.doc-info-area-cell .doctable th	{text-align:left;}
.doc-info-area .finddoctor			{width:100%; float:left; margin:0 auto; text-align:center;}
.pic								{width:70px; float:left; border:#CCC solid 1px;}

.content						{width:100%; float:left;}
.leftContent					{width:660px; float:left;}
h1								{width:100%; float:left; font:normal normal normal 32px Arial, Helvetica, sans-serif; color:#666;}
h2{ font-family:arial; font-size:14px; font-weight:bold;}
.content p						{width:100%; float:left; padding:10px 0 20px 0; line-height:20px;}
.googleMap						{width:300px; float:right; border:#CCC solid 1px; padding:10px; background:#FFF;}
.readmore						{width:100%; float:left;}

.externalinfo-area				{width:100%; float:left;}
.externalinfo-area-box			{width:315px; height:200px; float:left; background:#fafafa; border:#eee solid 1px; padding-bottom:10px; margin-right:20px;}
.externalinfo-area-box-end		{width:315px; height:200px; float:left; background:#fafafa; border:#eee solid 1px; padding-bottom:10px;}
.externalinfo-area-box h2		{width:295px; float:left; padding:10px 0 0 10px;}

.externalinfo-area-box-end h2	{width:295px; float:left; padding:10px 0 0 10px;}
.box-slide						{width:300px; height:150px; overflow:hidden; padding:10px;}
.box-slide p 					{width:295px; float:left;}
.ads							{width:295px; float:left; padding:10px;}


.registrationform-area			{width:980px; margin:0px auto; background-color:#FFFFFF;}
.registrationform				{width:665px; margin:0 auto; font-size:11px;}
.doctor_M				{width:708px; margin:0 auto; font-size:11px;}
.prescription_M				{width:680px; margin:0 auto; font-size:11px; border:solid 1px #0d5c83;}
.pageheading					{width:100%; float:left; margin:0 0 10px 0;}
.textfild-LS					{width:140px; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666;}
.textfild-S						{width:180px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666;}
.textfild-Sws					{width:160px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666;}
.textfild-S1					{width:130px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666;}
.textfiled-M					{width:385px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666;}
.textfiled-L					{width:190px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666;}
.textfiled-SL					{width:498px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666;}
.textfiled-SL1					{width:505px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666;}

h2						{width:100%; float:left; font:normal normal normal 20px Arial, Helvetica, sans-serif; color:#666;}
.radiocl1				{float:left; margin-right:30px; padding:5px; width:100%;}
.radiocl2				{float:left; margin-right:30px; padding:5px;}
.drop1					{width:510px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666;}
.drop2					{width:250px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666; margin:10px 10px 10px 0;}
.drop4					{width:280px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666; margin:0 0 10px 0;}
.drop5					{width:180px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666; margin:10px 10px 10px 0;}
.drop3					{width:398px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666; margin:0 10px 10px 0;}
.drop-LS				{width:50px; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666; margin:10px 10px 10px 0;}
table{float:left;}


.black_overlay {display:none; position:absolute; top:0%; left:0%; width:100%; height:170%; background-color: black; z-index:1001;	-moz-opacity: 0.8;	opacity:.80; filter: alpha(opacity=80);}
.white_content {display:none; position:absolute; top:180px; left:45%; width:300px; height:200px; background:#FFF; z-index:1002;}

.loginboxhide					{width:16px; height:16px; background:#bc1339; color:#FFF; position:absolute; bottom:0; right:0; cursor:pointer; text-align:center; font-size:
14px;}
.newuserboxhide					{width:16px; height:16px; background:#bc1339; color:#FFF; position:absolute; bottom:0; right:0; cursor:pointer; text-align:center; font-size:
14px;}
.registrationform td			{vertical-align:top;}

.text2							{width:190px; float:left; padding:6px 5px; border:#CCC 1px solid; font-size:11px; color:#666; margin:0 0 10px 0;}
.ntext							{padding:6px 5px; font-size:11px; color:#666; margin:0 0 0px 0;}
.red							{color:#FF0000;}
.login-but-blue					{width:100px; float:right; height:30px; border:none; cursor:pointer; background:url(../img/login-but-blue.gif) no-repeat center top; margin-top:10px;}

.fancybox-custom .fancybox-skin {box-shadow: 0 0 50px #222;}
.lnb{width:100%; float:left; font:normal normal normal 11px Arial, Helvetica, sans-serif; color:#666; background:url(../img/login-title.png) no-repeat left top; padding:40px 0 0 0;}
.lnb h1 {width:100%; float:left; font-size:28px; color:#666;}
.lnb span {width:100%; float:left; padding:3px; margin:2px 0;}




.simpleLink						{widht:auto; float:right; color:#666; text-decoration:underline; text-align:center; margin:5px 0; font-size:11px;}
.simpleLink:hover				{text-decoration:none;}
.simpleLink-s					{width:auto; float:left; font-size:10px; color:#666; text-decoration:underline; text-align:left; margin:5px 0;}
.simpleLink-s:hover				{text-decoration:none;}
.simpleBlueLink					{font-weight:bold; font-size:11px; color:#105e85; text-decoration:underline;}
.simpleBlueLink:hover			{text-decoration:none;}
.simpleBlueLink-s				{widht:auto; float:left; font-weight:bold; font-size:10px; color:#105e85; text-decoration:underline; text-align:center; margin:5px 0;}
.simpleBlueLink-s:hover			{text-decoration:none;}


/*//////////Add Slots //////////*/

.topNavIn						{width:100%; float:left; font-size:11px; margin:-10px 0 30px 0;}
.topNavIn ul					{width:730px; float:right; list-style:none;}
.topNavIn ul li					{width:auto; float:left; list-style:none; display:inline-block; padding:0 20px 0 5px; background:url(../img/arrow-location.png) no-repeat right center;}
.topNavIn ul li	a				{padding:1px 5px; color:#666; text-decoration:underline;}
.topNavIn ul li	a:hover			{color:#105e85; text-decoration:none;}
.topNavIn ul li.active			{color:#105e85; background:none;}



.leftNav					{width:210px; float:left; background:#FFFFFF; border:1px #767574 solid;} /* change by GD */
.leftNav ul 				{width:210px; float:left; list-style:none; display:block; margin:10px 0 30px 0;}
.leftNav ul li				{width:200px; float:left; /*background:url(../img/leftNav-devider.gif) repeat-x bottom;*/ border-bottom:#e5e5e5 solid 1px; margin:0px 5px;}
.leftNav ul li.last			{width:200px; float:left; /*background:url(../img/leftNav-devider.gif) repeat-x bottom;*/ border-bottom:#e5e5e5 solid 0px; margin:0px 5px; font-weight:bold;}
.leftNav ul li.last a		{color:#105e85; text-decoration:underline;}
.leftNav ul li a			{width:170px; float:left; border-top:#FFF solid 1px; border-bottom:#FFF solid 1px; display:block; padding:5px 15px; text-decoration:none; color:#666; font-size:11px;}
.leftNav ul li.active		{background:#cfdfe7;}
.leftNav ul li a:hover		{background:#cfdfe7; border-top:#FFF solid 1px; border-bottom:#FFF solid 1px;}

.fullpan					{width:100%; float:left; text-align:left;}
.rightpan					{width:720px; float:right; text-align:left;}
.rightpan strong			{width:100%; float:left; font-weight:bold;}
.rightpan p					{width:100%; float:left; text-align:left;}
.rightpan p b				{width:100%; float:left; font-weight:bold;}
.rightpan form				{width:100%; float:left; font-size:11px; padding:0; margin:0;}
.rightpan form table		{float:left; font-size:11px; padding:0; margin:0;}
.rightpan form table tr		{font-size:11px; padding:0; margin:0;}
.rightpan form table tr td	{vertical-align:text-top;}
.rightpan form table tr td .checkb{vertical-align:text-top; margin-left:15px;}
.viewdoctorslots			{width:; float:left; margin:10px 0;}
.tabledocinfo table			{}
.tabledocinfo table	th		{float:left; text-align:left;}
.timetable					{border-bottom:#eeeeee solid 1px;}
.timetable	td				{border-top:#eeeeee solid 1px; border-left:#eeeeee solid 1px; padding:0px;}
.timetabH5					{color:#000000; background:#ecf8fe; padding:3px; }
.timetabH1					{color:#000000; background:#d7eefb; padding:3px; }
.latest_txt				{color:#000000;  padding:3px; text-align:justify; line-height:20px;}
.timetabH3					{color:#2D2D2D; background:#FFF; padding:3px;} /* add by GD */
.timetabH4					{color:#ffffff; height:24px; background:#165483; padding:3px; font-size:13px; font-family:arial;} 
.timetabH5					{color:#ffffff; background:#165483; padding:3px; font-size:13px; font-family:arial;}
.news_text{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; color:#232323; font-weight:bold; height:30px; text-indent:2px;}
.news_T{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#0d5c83; font-weight:bold; text-decoration:underline; text-indent:2px;}
/* add by GD */
.timetabH1D					{color:#FFF; background:#87aec2; padding:3px;}
.timetabH2					{color:#000000; background:#d7eefb; padding:3px; text-align:center;}
.timetabH2 a{ color:#000083;}
.timetabH2D					{color:#FFF; background:#709fb6; padding:3px;}
.timetable td a				{color:#666; text-decoration:none;}
.timetable td a:hover		{color:#105e85; text-decoration:underline;}


.tablefix{height:205px !important; overflow:scroll; float:right; display:block;}/* Change by AR on 2/4/2013*/



/*//////////My Account /////////*/
.rightpan form .myaccounttable {}
.rightpan form .myaccounttable th {font-size:12px !important; text-align:left; padding:5px 0;}

/*//////////View Appointment /////////*/
.rightpan form.viewappointment table th {padding:7px;}
.rightpan form.viewappointment table td {padding:2px 7px; height:auto; border-top:#f0f0f0 solid 1px;}

/*//////////Dashboard /////////*/
.dashboard{width:100%; float:left;}
.dashboard-row{width:100%; float:left; margin-bottom:20px;}
.dashboard-Box{width:210px; height:300px; float:left; background:#FFF; border:#CCC; padding:10px; margin-right:13px; display:block;}
.dashboard-Boxlast{width:210px; height:300px; float:right; background:#FFF; border:#CCC; padding:10px; display:block;}

.dashboard2{width:100%; float:left;}
.dashboard2-ltpan{float:left; width:300px;}
.dashboard2-rtpan{float:right; width:520px;}
.iframe-dashboard{width:150px; float:left; font-size:11px !important;}

.tabledash3{float:left; width:600px;}
.tabledash3 tr{float:left; width:600px; margin-left:10px;}
.tabledash3 tr td{float:left; padding:3px 0;}

.welcomeMenu{width:130px; background:#FFF; position:absolute; top:52px;}
.welcomeMenu ul {width:130px; float:right; list-style:none;}
.welcomeMenu ul li{width:130px; float:right; list-style:none; border-bottom:#f6f6f6 dashed 1px;}
.welcomeMenu ul li a{width:110px; float:right; list-style:none; padding:5px 10px; text-align:left;}
.welcomeMenu ul li a:hover{background:#f6f6f6;}

/* change by GD */
.footerNav				{width:100%; float:left; background:url(../img/gray-line.gif) repeat-x bottom; font-size:11px; margin:30px 0 0 0; vertical-align:top;}
.footerNav ul			{width:560px; float:left; list-style:none; height:40px; margin-left:225px;}
.footerNav ul li		{float:left; display:inline-block; background:url(../img/devider-footer-nav.gif) no-repeat right center; margin-top:10px;}
.footerNav ul li.last	{float:left; background:none;}
.footerNav ul li a		{float:left; padding:6px 25px 10px 15px; text-align:center; color:#666; text-decoration:none;}
.footerNav ul li a:Hover{float:left; color:#666; text-decoration:underline; color:#105e85;}
.footerNav ul li.active {float:left; color:#666; text-decoration:none; color:#105e85;}
/* change by GD */

.footerCopy				{width:100%; float:left; text-align:left; font-size:10px; margin-bottom:30px;}

